// 颜色定义规范
$color-logo58 = #4C61EE
$color-bg-topMenu =  #2A2C42
$color-bg-leftMenu = #232537
$color-bg-leftMenu-active = #32354D;
$color-bg-content = #1B1C2C;
$color-bg-box = #222436;

// 字体颜色
$color-font-topMenu = #c3c4d6
$color-font-topMenu-Active = #4C61EE
$color-font-leftMenu =  #c3c4d6
$color-font-tableTitle = #c3c4d6
$color-font-tableRow = #c3c4d6
$color-font-danwei = #c3c4d6
$color-font-green = #1AD89A
$color-font-red = #FF5A64

//字体定义规范
$font-size-small = 14px
$font-size-20 = 20px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

